<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MPO-CC</title>
</head>
<body>
<h2>Całkowita ilość kontenerów w porcie 1: {{ message1 }}</h2>
<p>{{ message1a }}</p>
{{ message1b }}

<h2>Całkowita ilość kontenerów w porcie 2: {{ message2 }}</h2>
<p>{{ message2a }}</p>
{{ message2b }}

<h2>Całkowita ilość kontenerów w porcie 3: {{ message3 }}</h2>
<p>{{ message3a }}</p>
{{ message3b }}

<h2>Całkowita ilość kontenerów w porcie 4: {{ message4 }}</h2>
<p>{{ message4a }}</p>
{{ message4b }}

<h2>Całkowita ilość kontenerów w porcie 5: {{ message5 }}</h2>
<p>{{ message5a }}</p>
{{ message5b }}

<h2>Całkowita ilość kontenerów w porcie 6: {{ message6 }}</h2>
<p>{{ message6a }}</p>
{{ message6b }}

</body>
</html>